* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* 웹 캠 버튼 작업 */
.btn {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    border: none;
    background-color: inherit;
    top: 5%;
}

.btn .web {
    position: relative;
    width: 80px;
    height: 80px;
    margin-right: 80;
    background: #6666cc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #5c5cba;
}

.btn.active .web {
    box-shadow: 0 0 0 150vh #fff;
    transition: 0.5s;
}

.btn .web::before {
    content: '';
    position: absolute;
}

.btn .mobile {
    position: relative;
    width: 80px;
    height: 80px;
    background: #f42e79;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 15px 25px #f42e66;
}

.btn.active .mobile {
    box-shadow: 0 0 0 150vh #fff;
    transition: 0.5s;
}

.btn .mobile::before {
    content: '';
    position: absolute;
}

.btn p {
    font-weight: 500;
    font-size: 0.8em;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.clip {
    position: absolute;
    top: -100%;
    left: 60%;
    transform: translate(-50%, -50%) scale(0);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clip.active {
    width: 100%;
    transform: translate(-50%, -50%) scale(1);
}

.clip.web video {
    max-width: 900px;
    outline: none;
    border: 10px solid #6666cc;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

.clip.mobile video {
    max-width: 900px;
    outline: none;
    border: 10px solid #f42e79;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    header {
        padding: 20px;
    }
    .sci {
        right: 20px;
        bottom: 20px;
    }
    .clip video {
        max-width: 90%;
    }
    .clip2 video {
        max-width: 90%;
    }
}
