html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

/* main */
.carpe {
    display: flex;
    font-size: 60px;
    align-items: flex-start;
    color: rgb(2, 9, 22);
    justify-content: center;
    background-color: #0284c7;
}

.bg {
    position: absolute;
    left: -25vw;
    top: -50vw;
    width: 150vw;
    height: 420vw;
    background-color: #0284c7;
    background-size: cover;
    z-index: -1;
    -webkit-filter: blur(120px);
    filter: blur(120px);
}

.span {
    position: sticky;
    top: calc(50% - 50px);
    height: 100px;
    display: inline-flex;
    align-items: center;
    mix-blend-mode: overlay;
    font-family: 'Fredoka One', sans-serif;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 120px;
}

.c2 {
    margin-top: 100vw;
}

.c3 {
    margin-top: 130vw;
}

.c4 {
    margin-top: 160vw;
}

.c5 {
    margin-top: 190vw;
}

.c6 {
    margin-top: 210vw;
}

.c7 {
    margin-top: 240vw;
}

.c8 {
    margin-top: 270vw;
}

.c9 {
    margin-top: 300vw;
}

.c10 {
    margin-top: 330vw;
}
